$icon-font-path: "../bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import 'compass/css3';
//@import url(http://fonts.googleapis.com/css?family=Oswald);

//Jen's colors:
$lt-blue: #f5f5f5;
$md-blue: #c7d0d5; //lt-blue
$dk-blue: #93b1c6; //dk
$red-orange: #ec583a; //orange
$orange: #ff7148; //bright

//Take11:
$white: #cdcab9;
$md-white: #d6d3c4;
$dk-white: #dfded4;
$brown: #3C4659; //actually blue-gray
$red: #BF181B;
$blue:#434D8D;

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    //background: $white;
    //font-family: Oswald;  ...not sure I like this font
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    /* Make the masthead heading the same height as the navigation */
    h2 {
        @include border-radius(6px 6px 0 0);
        margin-bottom: 0;
        padding-top: 20px;
        line-height: 40px;
        text-align: center;
        background: $white;
        color: $brown;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    float: right;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.container{
    .jumbotron {
        text-align: center;
        border-bottom: 1px solid #e5e5e5;
        padding: 0;
        background: $white;
        color: $brown;
        box-shadow: 1px 1px 3px $red;
        @include border-radius(6px);

        .add-item{
            margin-bottom: 20px;
            background: $white;
            padding: 20px;
            border-bottom: 1px solid $red;
            @include border-radius(6px 6px 0 0);

            .item-input{
                width: 80%;
                margin-right: 20px;
                padding-left: 10px;
                background: $dk-white;
                color: $brown;
                @include border-radius(6px);

                &:focus{
                    background: white;
                }
            }

            .add-btn{
                height: 51px;
                padding: 0;
                width: 100px;
                background: $red;
                color: $md-white;
                @include border-radius(6px);

                &:hover{
                    background: #950E2D;
                }
            }
        }

        .list-stream{
            padding: 0 20px;

            .list-items {

                list-style: none;
                padding: 0;
                
                margin: 0;

                li{
                    border-bottom: 1px solid $blue;
                    overflow: hidden;

                    .complete-item,
                    .item-description,
                    .delete-item,
                    .focus-item{
                        display: inline-block;
                    }

                    .item-description{
                        text-align: left;
                    
                    }

                    .edit-item{
                        margin: 0 0 7px -35px;
                        width: 75%;
                        padding: 0 5px;
                        background: white;
                        color: $brown;
                    }

                    &.completed{
                        background: $md-white;

                        .complete-item{
                            color: green;
                        }

                        .item-description{
                            text-decoration: line-through;
                            font-weight: 100;
                        }
                    }
                }   
            }
        }
        .additional{
            padding: 20px;

            button{
                height: 51px;
                padding: 0;
                width: 100px;
                background: $red;
                color: $md-white;
                @include border-radius(6px);

                &:hover{
                    background: #950E2D;
                }

                &.complete{
                    width: 120px;
                }
            }

            .active{
                margin: 0 10px;
            }
        }
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
